body, html {
    height: 100%;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
  }

.container{
    display: flex;
    justify-content: center;
}
  
#list-btn{
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin: 2px;
    color: black;
    background-color: #8a9ca8;
    border-radius: 3px;
}

  /* for dropdown */

.dropbtn {
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin: 2px;
    color: black;
    background-color: #8a9ca8;
    border-radius: 3px;
    cursor: pointer;
}
      
.dropdown {
    position: relative;
    display: inline-block;
 }
      
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
      
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
      
.dropdown a:hover {
    background-color: #ddd;
}
      
.show {
   display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.text-align{
    text-align: center;
}